<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{post.title}}</h1>
    <a href="{{post.url}}" class="lead">{{post.url}}</a>
    <p>{{post.summary}}</p>
    <p>Subreddit: {{post.subreddit}}</p>
  </div>
</div>
